
@import '@app/styles/mixins/pending-icon.scss';
@import '@app/styles/mixins/player-icons.scss';

.track-item {
  display: flex;
  padding: 5px;
}

.track-content {
  flex-grow: 1;
}

.index-play-btn {
  position: relative;

  &:not(.paused):not(.pending),
  &.paused:not(.pending):hover {
    @include play-icon();
  }

  &.paused:not(:hover):not(.pending),
  &.playing:not(.pending):hover {
    @include pause-icon();
  }

  &.pending,
  &.pending:hover {
    @include pending-icon();

    opacity: 0.7;
  }
}