
@import '@app/styles/mixins/pending-icon.scss';
@import '@app/styles/mixins/player-icons.scss';

.track-item {
  display: flex;
  padding: 5px;
  align-items: center;
}

.track-content {
  flex-grow: 1;
}

.index-play-btn {
  position: relative;
  width: 26px;
  height: 26px;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  margin-right: 5px;


  &.playing,
  &:not(.pending):not(.playing):hover {
    .index {
      display: none;
    }

    @include play-icon($size: 18px);
  }

  &.paused:not(:hover):not(.pending),
  &.playing:not(.pending):hover {
    .index {
      display: none;
    }

    @include pause-icon($size: 18px);
  }

  &.pending,
  &.pending:hover {
    .index {
      display: none;
    }

    @include pending-icon($size: 18px);

    opacity: 0.7;
  }
}
