@mixin play-icon($size: 50px, $color: #fff, $alpha: 0.8) {
  $bg-color: rgba($color, $alpha);

  $icon-width: $size * 3 / 5;
  $icon-height: $size * 2 / 5;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: $icon-height solid $bg-color;
    border-right-width: 0;
    border-left-width: $icon-width;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

@mixin pause-icon($size: 50px, $color: #fff, $alpha: 0.8) {
  $bg-color: rgba($color, $alpha);

  $element-width: $size * 1.5 / 5;
  $elements-margin: $size * 0.5 / 5;
  $icon-height: $size * 4 / 5;

  $outer-offset: $size / 2 - $elements-margin * 2;
  $inner-offset: $element-width / 2 - $elements-margin;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: $icon-height;
    width: $element-width;
    border: none;
    background-color: transparent;
    box-shadow: 
      $outer-offset 0 0 0 $bg-color,
      $inner-offset 0 0 0 $bg-color inset,
      -$outer-offset 0 0 0 $bg-color,
      -$inner-offset 0 0 0 $bg-color inset;
  }
}