.track {
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: flex-start;
  margin: -5px;
  align-items: flex-start;
}

.cover {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.info-wrapper {
  margin: 5px;
}

.track-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.album-link,
.artist-link {
  font-weight: bold;
}
